<li id="<%= "#{dom_id(member)}_container" %>" class="py-2 px-4 border-b border-gray-300">
  <%= turbo_frame_tag dom_id(member) do %>
    <div class="flex justify-between items-center">
      <div class="flex flex-col justify-end pb-2 px-4 text-lg text-gray-500">
        <strong class="block font-medium mb-1">Name:</strong>
        <%= member.name %>
        <strong class="block font-medium mb-1">Email:</strong>
        <%= member.email %>
      </div>
    </div>
  <% end %>
</li>
